version: '3.8'

services:
  postgres:
    restart: always
    image: postgres:15.13-alpine
    container_name: laplace_v2_pg
    shm_size: 1gb
    command: postgres -c 'max_connections=1000' -c 'wal_level=logical' -c 'wal_log_hints=on'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: stock_app
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./pg_hba.conf:/etc/postgresql/pg_hba.conf:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
    driver: local
